<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Money To Wallet</title>
</head>
<body>
    ENTER AMOUNT YOU WANT TO ADD TO WALLET

    <input type="number" name="amount"><a href="/Login">Add</a>
</body>
</html>