<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash-Board</title>
</head>
<body>
    <h1 id="username" value="<%= userData.username %>">Welcome <%= userData.username.toUpperCase() %>!!!... </h1>
    <div class="balance">
        <h2>Your account Now Have $<%= userData.balance %></h2>
    </div>

    <p> op-> <% marketData %></p>

    <div class="addMoney">
        <button onClick="addAmount()">Add Money To Wallet</button>
    </div>
</body>
</html>